@{
    ViewBag.Title = "Shopping Cart";
    ViewBag.MetaKeyword = "shoppingcart";
    ViewBag.MetaDescription = "Thanh Toán Sản Phẩm";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<div class="page-template-default page page-id-919 woocommerce-cart woocommerce-page offcanvas-type-default  offcanvas-left wpb-js-composer js-comp-ver-5.3 vc_responsive">
    <div class="k2t-body">
        <div id="cartContent">
            <div class="k2t-title-bar underline center  shadow" style="padding-bottom:80px;background-position: left top;background-repeat: repeat;background-size: inherit;">
                <div class="container k2t-wrap" style="padding-top:100px;">
                    <h1 class="main-title" style="font-size:30px;line-height:30px;">Cart</h1>
                    <div class="main-excerpt"></div>
                    <!-- .main-excerpt -->
                </div>
                <!-- k2t-wrap -->
            </div>
            <!-- .k2t-title-bar -->
            <div class="k2t-content no-sidebar">
                <div class="k2t-main page" role="main">
                    <article id="post-919" class="post-919 page type-page status-publish hentry">
                        <div class="page-entry">
                            <div id="euz2q1gfsc" class="vc_row wpb_row vc_row-fluid k2t-line-bottom  vc_custom_1433928419776" style="position: relative;">
                                <div class="container">
                                    <div style="z-index: 10; position: relative;">
                                        <div id="snl6btgcrE" class="vc_col-sm-12 wpb_column vc_column_container vc_custom_1433928370761" style="position: relative;">
                                            <div class="wpb_wrapper">
                                                <div class="woocommerce">

                                                    <table class="shop_table cart" cellspacing="0">
                                  
                                                        <tbody>
                                                            <tr id="cartBody"></tr>
                                                            <tr>
                                                                <td colspan="6" class="actions">
                                                                    <input type="submit" class="btn btn-success" id="btnContinue" value="Continue Basket" />
                                                                    <input type="hidden" id="_wpnonce" name="_wpnonce" value="7ab7a78ac8" />
                                                                    <input type="hidden" name="_wp_http_referer" value="/velo/cart/" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <div class="cart-after">
                                                        <div class="cart-collaterals">
                                                            <div class="cart-coupon">
                                                                <div class="coupon">
                                                                    <form class="checkout_coupon" method="post">
                                                                        <input type="text" name="coupon_code" class="input-text" placeholder="Coupon code" id="coupon_code" value="" />
                                                                        <input type="submit" class="button" name="apply_coupon" value="Apply Coupon" />
                                                                        <div class="clear"></div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <div class="cart_totals ">
                                                                <h2>Cart totals</h2>
                                                                <table cellspacing="0" class="shop_table shop_table_responsive">
                                                                    <tr class="cart-subtotal">
                                                                        <th>Subtotal</th>
                                                                        <td data-title="Subtotal">
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol"></span>
                                                                                ---
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="order-total">
                                                                        <th>Total</th>
                                                                        <td data-title="Total">
                                                                            <strong>
                                                                                <span class="woocommerce-Price-amount amount">
                                                                                    <span class="woocommerce-Price-currencySymbol" id="lblTotalOrder">&#36;</span>

                                                                                </span>
                                                                            </strong>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <div class="wc-proceed-to-checkout">
                                                                    <a  id="btnCheckout" class="checkout-button button alt wc-forward">Proceed to checkout</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <script>
                                                        (function ($) {
                                                            "use strict";

                                                            $(document).ready(function () {
                                                                var owl = $(".k2t-carousel");
                                                                owl.owlCarousel({
                                                                    items: 3,
                                                                    loop: false,
                                                                    margin: 30,
                                                                    autoplay: false,
                                                                    autoplayTimeout: 6000,
                                                                    autoplayHoverPause: false,
                                                                    nav: false,
                                                                    dots: false,
                                                                    responsive: {
                                                                        1199: {
                                                                            items: 3,
                                                                        },
                                                                        979: {
                                                                            items: 2,
                                                                        },
                                                                        768: {
                                                                            items: 2,
                                                                        },
                                                                        479: {
                                                                            items: 1,
                                                                        },
                                                                        0: {
                                                                            items: 1,
                                                                        },
                                                                    },
                                                                });
                                                            });
                                                        }
                                                        )(jQuery);
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="VKDJgxRzTa" class="vc_row wpb_row vc_row-fluid   vc_custom_1432802177538" style="position: relative;">
                                <div class="container">
                                    <div style="z-index: 10; position: relative;">
                                        <div id="58eSZAo9Ui" class="vc_col-sm-12 wpb_column vc_column_container" style="position: relative;">
                                            <div class="wpb_wrapper">
                                                <div class="k2t-brands brands-5-columns">
                                                    <div class="brand-table">
                                                        <div class="brand-row">
                                                            <div class="brand-cell "></div>
                                                            <div class="brand-cell "></div>
                                                            <div class="brand-cell "></div>
                                                            <div class="brand-cell "></div>
                                                            <div class="brand-cell "></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!-- .page-entry -->
                    </article>
                    <!-- #post-## -->
                    <div class="clear"></div>
                </div>
                <!-- #main -->
            </div>
            <!-- .k2t-content -->
        </div>
        <div id="divCheckout" style="display:none;">
            <div class="k2t-content no-sidebar">
                <div class="k2t-main page" role="main">
                    <article id="post-1089" class="post-1089 page type-page status-publish hentry">
                        <div class="page-entry">
                            <div id="bG4n7e0WxT" class="vc_row wpb_row vc_row-fluid   vc_custom_1437189843506" style="position: relative;">
                                <div class="container">
                                    <div style="z-index: 10; position: relative;">
                                        <div id="XzGO5rVlJN" class="vc_col-sm-12 wpb_column vc_column_container" style="position: relative;">
                                            <div class="wpb_wrapper">
                                                <div class="woocommerce">
                                                    <form  id="frmPayment" method="post" class="checkout woocommerce-checkout"  enctype="multipart/form-data" novalidate="novalidate">
                                                        <div id="customer_details">
                                                            <div class="checkout_billing">
                                                                <div class="woocommerce-billing-fields">
                                                                    <h3>Billing Details</h3>
                                                                    @if (Request.IsAuthenticated)
                                                                    {

                                                                        <label>
                                                                            <input class="input-checkbox" type="checkbox" id="chkUserLoginInfo" />
                                                                            Sử dụng thông tin đăng nhập
                                                                        </label><br />

                                                                    }
                                                                    <p class="form-row form-row-wide address-field validate-postcode validate-required" id="billing_postcode_field" data-priority="90" data-o_class="form-row form-row-wide address-field validate-required validate-postcode">
                                                                        <input type="text" class="input-text" name="name" id="txtName" placeholder="Full Name *" value="" autocomplete="postal-code" required="">
                                                                    </p>

                                                                    <p class="form-row form-row-first validate-required validate-phone" id="billing_phone_field" data-priority="100">
                                                                        <input type="tel" class="input-text " id="txtPhone" name="phone"  placeholder="Phone*" value="" autocomplete="tel" required="">
                                                                    </p>


                                                                    <p class="form-row form-row-wide address-field validate-postcode validate-required" id="billing_postcode_field" data-priority="90" data-o_class="form-row form-row-wide address-field validate-required validate-postcode">
                                                                        <input type="text" class="input-text " id="txtEmail" name="email" placeholder="User@Domain *" value="" autocomplete="postal-code" required="">
                                                                    </p>
                                                                    <p class="form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
                                                                        <input type="text" class="input-text " id="txtAddress" name="address"  placeholder="Address *" value="" autocomplete="address-line1" required="">
                                                                    </p>
                                                                    @*<p class="form-row form-row-wide address-field" id="billing_address_2_field" data-priority="60">
                                                                        <input type="text" class="input-text " name="billing_address_2" id="billing_address_2" placeholder="Apartment, suite, unit etc. (optional)" value="" autocomplete="address-line2">
                                                                    </p>*@
                                                                </div>
                                                            </div>
                                                        <div class="checkout_billing different_address">
                                                            <div class="woocommerce-shipping-fields"></div>
                                                            <div class="woocommerce-additional-fields">
                                                            <h3>Additional information</h3>
                                                            <div class="woocommerce-additional-fields__field-wrapper">
                                                                <p class="form-row notes" id="order_comments_field" data-priority="">
                                                                <label for="order_comments" class="">Order notes</label>
                                                                <textarea name="order_comments" class="input-text " id="txtMessage" placeholder="Notes about your order, e.g. special notes for delivery." rows="2" cols="5"></textarea></p>
                                                                 </div>
                                                                </div>
                                                        </div>
                                                        </div> 
                                                        <div id="order_review" class="woocommerce-checkout-review-order">
                                                            <h3 id="order_review_heading">Payment Method</h3>
   
                                                            <div id="payment" class="woocommerce-checkout-payment">
                                                                <ul class="wc_payment_methods payment_methods methods">
                                                                    <li class="wc_payment_method payment_method_cheque">
                                                                        <input id="rdoCash" name="paymentMethod" value="CASH" type="radio" class="input-radio" checked="checked" data-order_button_text="">

                                                                        <label for="payment_method_cheque">
                                                                            Tiền mặt
                                                                        </label>
                                                                        <div class="payment_box payment_method_cheque">
                                                                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                                        </div>
                                                                    </li>
                                                                    <li class="wc_payment_method payment_method_cheque">
                                                                        <input type="radio" id="rdoNL" name="paymentMethod" value="NL" class="input-radio" data-order_button_text="">

                                                                        <label for="payment_method_cheque">
                                                                            TK Ngân Lượng

                                                                        </label>
                                                                        <div id="nganluongContent" class="boxContent" style="display:none">
                                                                            <p>
                                                                                Thanh toán trực tuyến AN TOÀN và ĐƯỢC BẢO VỆ, sử dụng thẻ ngân hàng trong và ngoài nước hoặc nhiều hình thức tiện lợi khác.
                                                                                Được bảo hộ & cấp phép bởi NGÂN HÀNG NHÀ NƯỚC, ví điện tử duy nhất được cộng đồng ƯA THÍCH NHẤT 2 năm liên tiếp, Bộ Thông tin Truyền thông trao giải thưởng Sao Khuê
                                                                                <br />Giao dịch. Đăng ký ví NgânLượng.vn miễn phí <a href="https://www.nganluong.vn/?portal=nganluong&amp;page=user_register" target="_blank">tại đây</a>
                                                                            </p>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </li>

                                                                    <li class="wc_payment_method payment_method_paypal">
                                                                        <input type="radio" id="rdoBank" value="ATM_ONLINE" name="paymentMethod" class="input-radio">

                                                                        <label >ATM Nội Địa </label>
                                                                        <div id="bankContent" class="boxContent" style="display:none;">
                                                                            Danh sách ngân hàng nội địa:
                                                                            <ul class="cardList clearfix">
                                                                                <li class="bank-online-methods ">
                                                                                    <label for="vcb_ck_on">
                                                                                        <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                                                                        <input type="radio" name="nganhang" ID="VCB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="vnbc_ck_on">
                                                                                        <i class="DAB" title="Ngân hàng Đông Á"></i>
                                                                                        <input type="radio" name="nganhang" ID="DAB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="tcb_ck_on">
                                                                                        <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                                                                        <input type="radio" name="nganhang" ID="TCB" GroupName="bankcode" />
                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_mb_ck_on">
                                                                                        <i class="MB" title="Ngân hàng Quân Đội"></i>
                                                                                        <input type="radio" name="nganhang" ID="MB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="shb_ck_on">
                                                                                        <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                                                                        <input type="radio" name="nganhang" ID="SHB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_vib_ck_on">
                                                                                        <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                                                                        <input type="radio" name="nganhang" ID="VIB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_vtb_ck_on">
                                                                                        <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                                                                        <input type="radio" name="nganhang" ID="ICB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_exb_ck_on">
                                                                                        <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                                                                        <input type="radio" name="nganhang" ID="EXB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_acb_ck_on">
                                                                                        <i class="ACB" title="Ngân hàng Á Châu"></i>
                                                                                        <input type="radio" name="nganhang" ID="ACB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_hdb_ck_on">
                                                                                        <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                                                                        <input type="radio" name="nganhang" ID="HDB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_msb_ck_on">
                                                                                        <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                                                                        <input type="radio" name="nganhang" ID="MSB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_nvb_ck_on">
                                                                                        <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                                                                        <input type="radio" name="nganhang" ID="NVB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_vab_ck_on">
                                                                                        <i class="VAB" title="Ngân hàng Việt Á"></i>
                                                                                        <input type="radio" name="nganhang" ID="VAB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_vpb_ck_on">
                                                                                        <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
                                                                                        <input type="radio" name="nganhang" ID="VPB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_scb_ck_on">
                                                                                        <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
                                                                                        <input type="radio" name="nganhang" ID="SCB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="ojb_ck_on">
                                                                                        <i class="OJB" title="Ngân hàng Đại Dương"></i>
                                                                                        <input type="radio" name="nganhang" ID="OJB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="bnt_atm_pgb_ck_on">
                                                                                        <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
                                                                                        <input type="radio" name="nganhang" ID="PGB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="bnt_atm_gpb_ck_on">
                                                                                        <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
                                                                                        <input type="radio" name="nganhang" ID="GPB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="bnt_atm_agb_ck_on">
                                                                                        <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
                                                                                        <input type="radio" name="nganhang" ID="AGB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="bnt_atm_sgb_ck_on">
                                                                                        <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
                                                                                        <input type="radio" name="nganhang" ID="SGB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="bnt_atm_nab_ck_on">
                                                                                        <i class="NAB" title="Ngân hàng Nam Á"></i>
                                                                                        <input type="radio" name="nganhang" ID="NAB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                                <li class="bank-online-methods ">
                                                                                    <label for="sml_atm_bab_ck_on">
                                                                                        <i class="BAB" title="Ngân hàng Bắc Á"></i>
                                                                                        <input type="radio" name="nganhang" ID="BAB" GroupName="bankcode" />

                                                                                    </label>
                                                                                </li>

                                                                            </ul>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                        <br />

                                                                    </li>
                                                                    <li class="wc_payment_method payment_method_paypal">
                                                                        <input class="input-radio"type="radio" id="rdoVisa" name="paymentMethod" value="VISA" data-order_button_text="Proceed to PayPal">

                                                                        <label for="payment_method_paypal">
                                                                            PayPal <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png" alt="PayPal acceptance mark"><a href="https://www.paypal.com/gb/webapps/mpp/paypal-popup" class="about_paypal" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">What is PayPal?</a>
                                                                        </label>
                                                                        <div class="payment_box payment_method_paypal" style="display:none;">
                                                                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                                        </div>
                                                                    </li>

                                                                </ul>
                                                                <div class="form-row place-order">

                                                                    <input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="btnCreateOrder" value="check out" data-value="Place order">

                                                                    @*<input type="hidden" id="_wpnonce" name="_wpnonce" value="456d88536d">*@
                                                                    <div class="alert alert-danger" id="divMessage" style="display:none;"></div>
                                                                    @*<input type="hidden" name="_wp_http_referer" value="/velo/checkout/?wc-ajax=update_order_review">*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="clear"></div>
                        </div><!-- .page-entry -->
                    </article><!-- #post-## --><div class="clear"></div>
                </div><!-- #main -->
            </div>
        </div>
        </div>
    </div>

<script id="tplCart" type="x-tmpl-mustache">
    <tr class="cart_item">
        <td class="product-thumbnail">
            <a href="#">
                <img width="100" height="100" src="{{Image}}"
                     class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="{{ProductId}}"
                     srcset="{{Image}}, {{Image}}" sizes="(max-width: 100px) 100vw, 100px" />
            </a>
        </td>
        <td class="product-name">
            <a href="#">{{ProductName}} </a>
        </td>
        <td class="product-price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">$</span>
                {{PriceF}}
            </span>
        </td>
        <td class="product-quantity">
          
                @*<input type="number" step="1" min="0" data-id="{{ProductId}}"  data-price="{{Price}}" value="{{Quantity}}" title="Qty" class="input-text qty txtQuantity" size="4" />*@
                <input type="number" step="1" min="1" data-id="{{ProductId}}" data-price="{{Price}}" value="{{Quantity}}" class="form-control input-small txtQuantity" size="1" style="width:20%;"/>
          
        </td>
        <td class="product-subtotal">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol" id="amount_{{ProductId}}"></span>
                ${{Amount}}
            </span>
        </td>
        <td class="product-remove">
            <a href="#" class="remove danger btnDeleteItem" data-id="{{ProductId}}" title="Remove this item">&times;</a>
        </td>
    </tr>

</script>
