@{
    ViewBag.Title = "Shopping Cart";
    ViewBag.MetaKeyword = "shoppingcart";
    ViewBag.MetaDescription = "Thanh Toán Sản Phẩm";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
<div class="page-template-default page page-id-919 woocommerce-cart woocommerce-page offcanvas-type-default  offcanvas-left wpb-js-composer js-comp-ver-5.3 vc_responsive">
    <div class="k2t-body">
         <div id="cartContent">
        <div class="k2t-title-bar underline center  shadow" style="padding-bottom:80px;background-position: left top;background-repeat: repeat;background-size: inherit;">
            <div class="container k2t-wrap" style="padding-top:100px;">
                <h1 class="main-title" style="font-size:30px;line-height:30px;">Cart</h1>
                <div class="main-excerpt"></div>
                <!-- .main-excerpt -->
            </div>
            <!-- k2t-wrap -->
        </div>
        <!-- .k2t-title-bar -->
        <div class="k2t-content no-sidebar">
            <div class="k2t-main page" role="main">
                <article id="post-919" class="post-919 page type-page status-publish hentry">
                    <div class="page-entry">
                        <div id="euz2q1gfsc" class="vc_row wpb_row vc_row-fluid k2t-line-bottom  vc_custom_1433928419776" style="position: relative;">
                            <div class="container">
                                <div style="z-index: 10; position: relative;">
                                    <div id="snl6btgcrE" class="vc_col-sm-12 wpb_column vc_column_container vc_custom_1433928370761" style="position: relative;">
                                        <div class="wpb_wrapper">
                                            <div class="woocommerce">
                                             
                                                <table class="shop_table cart" cellspacing="0">
                                                    <tbody>

                                                    <tr id="cartBody"></tr>
                                                    <tr>
                                                        <td colspan="6" class="actions">
                                                            <input type="submit" class="button" name="update_cart" value="Update Cart" />
                                                            @*<input type="hidden" id="_wpnonce" name="_wpnonce" value="7ab7a78ac8" />
                                                            <input type="hidden" name="_wp_http_referer" value="/velo/cart/" />*@
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            
                                                <div class="cart-after">
                                                    <div class="cart-collaterals">
                                                        <div class="cart-coupon">
                                                            <div class="coupon">
                                                                <form class="checkout_coupon" method="post">
                                                                    <input type="text" name="coupon_code" class="input-text" placeholder="Coupon code" id="coupon_code" value="" />
                                                                    <input type="submit" class="button" name="apply_coupon" value="Apply Coupon" />
                                                                    <div class="clear"></div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="cart_totals ">
                                                            <h2>Cart totals</h2>
                                                            <table cellspacing="0" class="shop_table shop_table_responsive">
                                                                <tr class="cart-subtotal">
                                                                    <th>Subtotal</th>
                                                                    <td data-title="Subtotal">
                                                                        <span class="woocommerce-Price-amount amount">
                                                                            <span class="woocommerce-Price-currencySymbol"></span>
                                                                            ---
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr class="order-total">
                                                                    <th>Total</th>
                                                                    <td data-title="Total">
                                                                        <strong>
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol" id="lblTotalOrder">&#36;</span>
                                                                                
                                                                            </span>
                                                                        </strong>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <div class="wc-proceed-to-checkout">
                                                                <a href="http://demo.sunrisetheme.com/velo/checkout/" class="checkout-button button alt wc-forward">Proceed to checkout</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    (function ($) {
                                                        "use strict";

                                                        $(document).ready(function () {
                                                            var owl = $(".k2t-carousel");
                                                            owl.owlCarousel({
                                                                items: 3,
                                                                loop: false,
                                                                margin: 30,
                                                                autoplay: false,
                                                                autoplayTimeout: 6000,
                                                                autoplayHoverPause: false,
                                                                nav: false,
                                                                dots: false,
                                                                responsive: {
                                                                    1199: {
                                                                        items: 3,
                                                                    },
                                                                    979: {
                                                                        items: 2,
                                                                    },
                                                                    768: {
                                                                        items: 2,
                                                                    },
                                                                    479: {
                                                                        items: 1,
                                                                    },
                                                                    0: {
                                                                        items: 1,
                                                                    },
                                                                },
                                                            });
                                                        });
                                                    }
                                                    )(jQuery);
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="VKDJgxRzTa" class="vc_row wpb_row vc_row-fluid   vc_custom_1432802177538" style="position: relative;">
                            <div class="container">
                                <div style="z-index: 10; position: relative;">
                                    <div id="58eSZAo9Ui" class="vc_col-sm-12 wpb_column vc_column_container" style="position: relative;">
                                        <div class="wpb_wrapper">
                                            <div class="k2t-brands brands-5-columns">
                                                <div class="brand-table">
                                                    <div class="brand-row">
                                                        <div class="brand-cell "></div>
                                                        <div class="brand-cell "></div>
                                                        <div class="brand-cell "></div>
                                                        <div class="brand-cell "></div>
                                                        <div class="brand-cell "></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- .page-entry -->
                </article>
                <!-- #post-## -->
                <div class="clear"></div>
            </div>
            <!-- #main -->
        </div>
        <!-- .k2t-content -->
           </div>
    </div>
</div>

<script id="tplCart" type="x-tmpl-mustache">
    <tr class="cart_item">
        <td class="product-thumbnail">
            <a href="#">
                <img width="100" height="100" src="{{Image}}"
                     class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="{{ProductId}}"
                     srcset="{{Image}}, {{Image}}" sizes="(max-width: 100px) 100vw, 100px" />
            </a>
        </td>
        <td class="product-name">
            <a href="#">{{ProductName}} </a>
        </td>
        <td class="product-price">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol">$</span>
                {{PriceF}}
            </span>
        </td>
        <td class="product-quantity">
          
                @*<input type="number" step="1" min="0" data-id="{{ProductId}}"  data-price="{{Price}}" value="{{Quantity}}" title="Qty" class="input-text qty txtQuantity" size="4" />*@
                <input type="number" step="1" min="1" data-id="{{ProductId}}" data-price="{{Price}}" value="{{Quantity}}" class="form-control input-small txtQuantity" size="1" style="width:20%;"/>
          
        </td>
        <td class="product-subtotal">
            <span class="woocommerce-Price-amount amount">
                <span class="woocommerce-Price-currencySymbol" id="amount_{{ProductId}}"></span>
                ${{Amount}}
            </span>
        </td>
        <td class="product-remove">
            <a href="#" class="remove danger btnDeleteItem" data-id="{{ProductId}}" title="Remove this item">&times;</a>
        </td>
    </tr>

</script>
