<!DOCTYPE html>
<html>
<head>
    <title>Velo</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link sizes="16x16" href="Assets/client/img/favicon.png" rel="icon" />
    <script src="~/Assets/client/js/jquery.min.js"></script>
    <!--animation -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/main.css">
    <!--Meganeu -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/megamenu.css">
    <!--Popular -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/popular.css">
    <!-- font style -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/icon-font-style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/responsive.css">
    <link href="~/Assets/client/css/js_composer.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/composer.css">

    <!-- Woocommerce -->

    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/woocommerce.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/style.css">
    <!-- Simple line icon -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/simple-line-icons.css">
    <!-- Shortcodes -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/shortcodes.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/styleFrontEnd.css">


    <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/owl.css">

    <!-- custome ATM -->
    <link href="~/Assets/client/css/custom.css" rel="stylesheet" />
    <style type="text/css">

        .k2t-wrap, .container {
            max-width: 1170px;
        }

        .k2t-sidebar, .k2t-sidebar-sub {
            width: 25% !important;
        }


        h1, h2, h3, h4 {
            color:;
            font-family: Montserrat;
        }

        .k2t-navigation ul li a,
        .k2t-navigation ul li span {
            font-family: Montserrat;
        }

        body {
            font-family: PT Serif;
            font-size: 16px;
        }

        .k2t-header-mid .k2t-menu, .k2t-header .k2t-menu .mega-container ul, .vertical-menu .k2t-header-mid .k2t-menu {
            font-family: Montserrat;
            font-size: 16px;
        }

            .k2t-header-mid .k2t-menu > li > a {
                text-transform: uppercase;
            }

            .k2t-header-mid .k2t-menu > li > a {
                font-weight: 300;
            }

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 16px;
        }

        h4 {
            font-size: 14px;
        }

        h5 {
            font-size: 14px;
        }

        h6 {
            font-size: 14px;
        }

        .k2t-header-mid .k2t-menu .sub-menu {
            font-size: 16px;
        }

        .k2t-title-bar.shadow:after {
            opacity: 0.5;
        }

        .frm-subscriptionFront .subscribeButton {
            height: 58px;
            padding: 20px 30px;
            margin-top: 30px;
        }

        /* Primary color
        ------------------------------------------------- */

        article.product-item div.product-thumb span.onsale,
        .woocommerce ul.products li.product .onsale,
        .woocommerce-page ul.products li.product .onsale,
        .single-product.woocommerce span.onsale,
        .woocommerce span.onsale, .woocommerce-page span.onsale {
            color: #bdb099;
            border-color: #bdb099;
        }


        .border {
            border: 2px dashed #959595;
            padding: 50px 0;
            margin-left: 0;
            margin-right: 0;
        }

        .blogspot-heading {
            margin-bottom: 50px;
        }

        .popup-left {
            height: 500px;
        }

        .popup-right {
            padding: 60px 30px 0;
        }

        .top-banner img {
            width: 100%;
        }

        .middle-banner {
            background-size: 100%;
        }

        .bottom-banner-inner {
            background: url('Assets/client/img/uploads/2015/08/banner-3.png') no-repeat center center;
            background-size: 100%;
        }

            .bottom-banner-inner .test-drive {
                width: 30%;
                font-family: "Montserrat";
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 4px;
                float: left;
                line-height: 45px;
                margin-bottom: 0;
            }

                .bottom-banner-inner .test-drive p {
                    font-size: 30px;
                    margin-top: 8px;
                }

            .bottom-banner-inner .bicycle {
                float: left;
                margin-left: 30px;
                margin-top: 0px;
                margin-bottom: 0;
                -webkit-transition: all 1.5s ease-in-out;
                -moz-transition: all 1.5s ease-in-out;
                -ms-transition: all 1.5s ease-in-out;
                -o-transition: all 1.5s ease-in-out;
                transition: all 1.5s ease-in-out;
            }

            .bottom-banner-inner:hover .bicycle {
                margin-left: calc( 100% - 540px );
                margin-left: -webkit-calc( 100% - 540px );
                margin-left: -moz-calc( 100% - 540px );
            }

            .bottom-banner-inner .k2t-button {
                float: right;
                margin-top: 8px;
            }

        .k2t-countdown .ele .num {
            line-height: 100px;
            height: 100px;
        }

        .widgetGuts table {
            width: 100%;
        }

        #frm-subscriptionFront .subscribeButton {
            height: inherit;
            padding: 20px 30px;
            margin-top: 30px;
        }

        #frm-subscriptionFront #frm-email {
            height: 60px;
            line-height: 60px;
        }

        .test-drive p {
            line-height: 1.5;
        }

        .media only screen and (max-width: 568px) {
            .vc_column_container.middle-banner, .vc_column_container.middle-banner

        {
            padding-top: 0 !important
        }

        .bottom-banner-inner .bicycle {
            margin: 15px;
        }

        .bottom-banner-inner:hover .bicycle {
            margin-left: 0;
        }

        .vc_row.wpb_row.image-banner {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .bottom-banner-inner {
            display: none;
        }

        .blogspot-heading {
            margin-bottom: 30px;
        }

        .countdown-row .k2t-heading.align-left,
        .countdown-row p {
            text-align: center;
        }

        .countdown-row .k2t-button {
            display: block;
        }

        .k2t-heading.align-left.underline .h:after {
            margin: 10px auto;
        }

        #RXWUwLMPlv {
            display: none;
        }

        .owl-theme .owl-controls {
            margin-top: 0;
        }

        .k2t-blog-post-2 {
            margin-bottom: 0;
        }

        }

        .media only screen and (min-width: 569px) and (max-width: 768px) {
            .bottom-banner-inner .test-drive p

        {
            font-size: 16px !important;
            margin-top: 15px;
        }

        .countdown-row {
            padding-right: 10px !important;
            padding-left: 10px !important;
        }

        .vc_custom_1436403796574 {
            margin-top: -20px !important;
        }
        }
    </style>

    <!-- Custom css -->
    <style type="text/css">
        .k2t-content {
            padding-top: 0;
        }

        #single-product-image-wrap #nav {
            display: none;
        }

        #single-product-image-wrap .owl-theme .owl-controls {
            display: block !important;
            background: #fff;
        }

        .product-img-cont {
            max-width: 700px;
            margin: 0 auto;
        }

        .k2t-wrap, .dhvc-woocommerce-page .container {
            max-width: inherit;
        }

        .woocommerce div.product .product-related {
            max-width: 1170px;
            margin: 0 auto;
        }

        .k2t-iconbox.layout-2 > .iconbox-text > .title > .h {
            font-family: "PT Serif";
            font-style: italic;
        }

        .k2t-button.grey-button a {
            background: #252525;
        }

            .k2t-button.grey-button a:hover {
                background: #bdb099;
            }

        .k2t-counter .title {
            text-transform: uppercase;
        }

        .custom_1438070110372 {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        .custom_1439265274538 {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 100px;
            padding-bottom: 80px;
        }

        .custom_1438067732686 {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .custom_1438067748540 {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .custom_1438069950459 {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .custom_1438068993557 {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            padding-top: 0px;
            padding-bottom: 50px;
        }

        .custom_1439293237941 {
            padding-right: 0px;
            padding-left: 0px;
        }

        .custom_1438070083084 {
            padding-top: 110px;
            padding-bottom: 80px;
            padding-left: 80px;
            background-color: #e3e3e3;
        }

        .custom_1438067711555 {
            padding-top: 80px;
            padding-right: 80px;
            padding-bottom: 80px;
            padding-left: 80px;
        }

        .custom_1438662057640 {
            padding-top: 300px;
            padding-bottom: 300px;
        }

        .custom_1438662103817 {
            padding-top: 300px;
            padding-right: 0px;
            padding-bottom: 300px;
            padding-left: 0px;
        }

        .custom_1438067825929 {
            padding-top: 80px;
            padding-right: 80px;
            padding-bottom: 80px;
            padding-left: 80px;
        }

        .custom_1441968377962 {
            padding-top: 90px;
            padding-right: 40px;
            padding-bottom: 80px;
            padding-left: 80px;
        }

        .custom_1441968292573 {
            padding-top: 40px;
            padding-right: 50px;
            padding-bottom: 80px;
            padding-left: 40px;
        }

        .custom_1436951048605 {
            padding-right: 0px;
            padding-left: 0px;
        }

        .media only screen and (max-width: 320px) {
            .custom_1438067711555

        {
            padding: 30px !important;
        }
        }
    </style>
    <!--- VC Custom css-->
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1433928419776 {
            padding-bottom: 55px !important;
        }

        .vc_custom_1432802177538 {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }

        .vc_custom_1433928370761 {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
    </style>





    <script src="~/Assets/client/js/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/main.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/vendor/modernizr.js" type="text/javascript"></script>
    <!-- Countdown -->
    <script type='text/javascript' src='~/Assets/client/js/countdown.min.js'></script>
    <script type='text/javascript' src='~/Assets/client/js/shortcodes.js'></script>
    <!-- Counter -->
    <script src="~/Assets/client/js/vendor/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/vendor/jquery.cbpBGSlideshow.js" type="text/javascript"></script>
    <!-- Carousel -->

    <script src="~/Assets/client/js/owl.carousel.min.js" type="text/javascript"></script>


    <!--theme punch-->
    <!-- Isotope-->

    <script type='text/javascript' src="~/Assets/client/js/isotope/isotope.js"></script>
    <script type='text/javascript' src="~/Assets/client/js/isotope/portfolio.js"></script>
    <script type='text/javascript' src="~/Assets/client/js/isotope/jquery.imageloaded.min.js"></script>
    <script type='text/javascript' src="~/Assets/client/js/isotope/stickyMojo.js"></script>
    <script type='text/javascript' src="~/Assets/client/js/isotope/idangerous.swiper.js"></script>
    <script type='text/javascript' src="~/Assets/client/js/isotope/expandable.js"></script>
    <script type='text/javascript' src='~/Assets/client/js/isotope/jquery.stellar.min.js'></script>
    <script type='text/javascript' src='~/Assets/client/js/isotope/instafeed.min.js'></script>



    <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
    <script type="text/javascript" src="~/Assets/client/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="~/Assets/client/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <script type="text/javascript" src="~/Assets/client/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Assets/client/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Assets/client/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Assets/client/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

    <!---tab-->
    <script src="~/Assets/client/js/jquery.accordion.js"></script>
    <script src="~/Assets/client/js/jquery-ui.js"></script>


</head>
<body class="home page page-id-159 page-template-default offcanvas-type-default  offcanvas-left">
    <div class="k2t-container">
        @{Html.RenderAction("Header", "Home");}
        @RenderBody()
        @{Html.RenderAction("Footer", "Home");}
    </div>
    <!-- Counter -->
    <!-- Carousel -->
    <script type="text/javascript">
        (function ($) {
            "use strict";
            $(function () {
                $('.counter').counterUp({
                    delay: 1,
                    time: 100
                });
                $(".owl-carousel").owlCarousel({
                    loop: false,
                    margin: 30,
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    items: 3,
                    nav: false,
                    dots: true,
                    responsive: {
                        1199: {
                            items: 3,
                        },
                        979: {
                            items: 3,
                        },
                        768: {
                            items: 2,
                        },
                        479: {
                            items: 1,
                        },
                        0: {
                            items: 1,
                        },
                    },
                    navText: ["<i class=\"fa fa-chevron-left\"></i>", "<i class=\"fa fa-chevron-right\"></i>"],
                });
                $(".wc-tabs-wrapper").tabs();

                $(".product-img").owlCarousel({
                    margin: 0,
                    items: 1,
                    callbacks: true,
                    URLhashListener: true,
                    startPosition: 'URLHash',
                    dots: true,
                    nav: true,
                    navText: ["<i class=\"fa fa-chevron-left\"></i>", "<i class=\"fa fa-chevron-right\"></i>"],
                });
                $("#nav").owlCarousel({
                    margin: 10,
                    items: 4,
                    loop: true,
                    dots: false,
                    nav: true,
                    navText: ["<i class=\"fa fa-chevron-left\"></i>", "<i class=\"fa fa-chevron-right\"></i>"],

                });
                $('#nav a').on('click', function (event) {
                    var $this = $(this);
                    $this.addClass('clicked');
                    $(this).parent().siblings().children('a').removeClass('clicked');
                });
            });
            $(function () {
                var owl = $(".relate-item");
                owl.owlCarousel({
                    margin: 30,
                    items: 4,
                    responsive: {
                        1199: {
                            items: 4,
                        },
                        979: {
                            items: 4,
                        },
                        768: {
                            items: 2,
                        },
                        479: {
                            items: 1,
                        },
                        0: {
                            items: 1,
                        },
                    },
                    nav: false,
                    loop: false,
                    dots: true,
                    navText: ["<i class=\"fa fa-chevron-left\"></i>", "<i class=\"fa fa-chevron-right\"></i>"],
                });
            });
        })(jQuery);
    </script>

    <!-- Revotion slider -->
    <script type="text/javascript">

        /******************************************
            -	PREPARE PLACEHOLDER FOR SLIDER	-
        ******************************************/

        var setREVStartSize = function () {
            try {
                var e = new Object, i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                e.c = jQuery('#rev_slider_3_1');
                e.gridwidth = [1600];
                e.gridheight = [800];

                e.sliderLayout = "fullwidth";
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };
        setREVStartSize();
        var tpj = jQuery;
        tpj.noConflict();
        var revapi3;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_3_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_3_1");
            } else {
                revapi3 = tpj("#rev_slider_3_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "revolution/js/",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "on",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                        ,
                        arrows: {
                            style: "",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
                        ,
                        bullets: {
                            enable: false,
                            hide_onmobile: false,
                            style: "hesperiden",
                            hide_onleave: false,
                            direction: "horizontal",
                            h_align: "center",
                            v_align: "bottom",
                            h_offset: 0,
                            v_offset: 20,
                            space: 5,
                            tmp: ''
                        }
                    },
                    gridwidth: 1600,
                    gridheight: 800,
                    lazyType: "all",
                    parallax: {
                        type: "mouse",
                        origo: "enterpoint",
                        speed: 400,
                        levels: [2, 4, 6, 15, 25, 30, 35, 40, 45, 50],
                        disable_onmobile: "on"
                    },
                    shadow: 0,
                    spinner: "spinner0",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    startWithSlide: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: "off",
                    }
                });
            }
        });	/*ready*/
    </script>


    <script src="~/Assets/admin/libs/mustache/mustache.js"></script>
    <script src="~/Assets/admin/libs/numeral/numeral.js"></script>


    <script src="~/Assets/admin/libs/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Assets/admin/libs/jquery-validation/dist/additional-methods.min.js"></script>

    <script src="~/Assets/client/js/common.js"></script>
    <script src="~/Assets/client/js/controllers/shoppingCart.js"></script>
    <!-- show offcavs sidebar -->
    <div class="offcanvas-sidebar">
        <div class="k2t-sidebar">
            <a id="close-canvas" onclick="javascript:return false;" class="open-sidebar" href="#"></a>
            <aside id="black-studio-tinymce-2" class="widget widget_black_studio_tinymce">
                <div class="textwidget">
                    <p>
                        <a href="img/uploads/2015/07/velo-logo.png">
                            <img class="alignnone size-full wp-image-1560" src="~/Assets/client/img/uploads/2015/07/velo-logo.png" alt="velo-logo" width="82" height="30">
                        </a>
                    </p>
                </div>
            </aside>
            <aside id="k2t-social-3" class="widget k2t-social-widget">
                <ul class="social">
                    <li class="li-facebook">
                        <a title="Facebook" href="#" rel="alternate"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="li-twitter">
                        <a title="Twitter" href="#" rel="alternate"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="li-google-plus">
                        <a title="Google+" href="#" rel="alternate"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class="li-pinterest">
                        <a title="Pinterest" href="#" rel="alternate"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li class="li-instagram">
                        <a title="Instagram" href="#" rel="alternate"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </aside>
            <aside id="nav_menu-2" class="widget widget_nav_menu">
                <div class="menu-main-menu-container">
                    <ul id="menu-main-menu" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-187 children">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2055"><a href="homepage-1.html">Homepage 1</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-159 current_page_item menu-item-2056 active"><a href="index.html">Homepage 2</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2057"><a href="homepage-3.html">Homepage 3</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-197 children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595">
                                    <a href="about-us.html">About us</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-194">
                                    <a href="under-construction.html">Under Construction</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-619">
                                    <a href="faq.html">FAQ</a>
                                </li>

                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-636">
                                    <a href="contact-us.html">Contact us</a>
                                </li>

                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2219 children">
                            <a href="#">Features</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-195">
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-193">
                                    <a href="pricing-table.html">Pricing Table</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-649">
                                    <a href="icons.html">Icons</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188">
                                    <a href="elements.html">Elements</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1077 children">
                            <a href="shop.html">Shop</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2076 children">
                                    <a href="#">Product Types</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2072">
                                            <a href="simple-product.html">Simple Product</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2071">
                                            <a href="out-of-stock-product.html">Out Of Stock</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2073">
                                            <a href="variable-product.html">Variable Product</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2075">
                                            <a href="external-product.html">External Product</a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2079">
                                            <a href="grouped-product.html">Grouped Product</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2077 children">
                                    <a href="#">Templates</a>
                                    <ul class="sub-menu">

                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2058">
                                            <a href="order-tracking.html">Order Tracking</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2078">
                                    <a href="#">Shop Listing</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2152 children">
                                    <a href="#">Single Shop Template</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2149">
                                            <a href="purple-db.html">Single product Standard</a>
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2150">
                                            <a href="white-cs.html">Single Product Layout 1</a>
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2151">
                                            <a href="baby-blue-sport.html">Single Product Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-224 children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2060">
                                    <a href="blog-grid.html">Blog Grid</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2061">
                                    <a href="blog-masonry.html">Blog Masonry</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2063">
                                    <a href="blog-wide.html">Blog Wide</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2059">
                                    <a href="blog-fullwidth.html">Blog Fullwidth</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2062">
                                    <a href="blog-medium.html">Blog Medium</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
    <!-- Go to top -->
    <a href="#" class="k2t-btt" style="display: inline;"><i class="fa fa-long-arrow-up"></i></a>




</body>
</html>
